<mat-toolbar color="primary">
  <mat-toolbar-row>
  </mat-toolbar-row>
  <mat-toolbar-row style="display: flex; justify-content: center">
      <h1 style="font-size: 6rem">Character Builder</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button (click)="onClick()" *ngIf="url === '/builder'" mat-raised-button>Personnages</button>
    <button (click)="signUp()" *ngIf="url === '/'" mat-raised-button>S'inscrire</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
