<div style="margin: 20px">
  <form [formGroup]="builderForm">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
      <div>
        <h1>Genre :</h1>
        <mat-radio-group formControlName="genre" class="container-radio" aria-label="Select an option">
          <mat-radio-button class="space" value="male">Masculin</mat-radio-button>
          <mat-radio-button class="space" value="female">Féminin</mat-radio-button>
          <mat-radio-button class="space" value="iel">Incertain</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <h1>Race :</h1>
        <div formGroupName="race" class="container-checkbox">
          <mat-checkbox class="space" formControlName="elfe">Elfe</mat-checkbox>
          <mat-checkbox class="space" formControlName="nain">Nain</mat-checkbox>
          <mat-checkbox class="space" formControlName="dragon">Dragon</mat-checkbox>
          <mat-checkbox class="space" formControlName="humain">Humain</mat-checkbox>
          <mat-checkbox class="space" formControlName="orc">Orc</mat-checkbox>
        </div>
      </div>
      <div>
        <h1>Classe :</h1>
        <div formGroupName="classe" class="container-checkbox">
          <mat-checkbox class="space" formControlName="mage">Mage</mat-checkbox>
          <mat-checkbox class="space" formControlName="paladin">Paladin</mat-checkbox>
          <mat-checkbox class="space" formControlName="voleur">Voleur</mat-checkbox>
          <mat-checkbox class="space" formControlName="guerrier">Guerrier</mat-checkbox>
          <mat-checkbox class="space" formControlName="archer">Archer</mat-checkbox>
        </div>
      </div>
      <div>
        <h1>Métier :</h1>
        <div formGroupName="metier" class="container-checkbox">
          <mat-checkbox class="space" formControlName="forgeron">Forgeron</mat-checkbox>
          <mat-checkbox class="space" formControlName="tanneur">Tanneur</mat-checkbox>
          <mat-checkbox class="space" formControlName="cuisinier">Cuisinier</mat-checkbox>
          <mat-checkbox class="space" formControlName="alchimiste">Alchimiste</mat-checkbox>
          <mat-checkbox class="space" formControlName="architecte">Architecte</mat-checkbox>
        </div>
      </div>
      <div>
        <h1>Caractéristique :</h1>
        <div formGroupName="caracteristic" class="container-checkbox">
          <mat-checkbox class="space" formControlName="borgne">Borgne</mat-checkbox>
          <mat-checkbox class="space" formControlName="estropier">Estropié</mat-checkbox>
          <mat-checkbox class="space" formControlName="handicaper">Handicapé</mat-checkbox>
          <mat-checkbox class="space" formControlName="muscler">Musclé</mat-checkbox>
          <mat-checkbox class="space" formControlName="sourd">Sourd</mat-checkbox>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between">
      <button mat-raised-button color="primary" (click)="onSubmit()">Créer</button>
      <button *ngIf="description && image && name" mat-raised-button color="primary"
        (click)="onClick()">Sauvegarder</button>
    </div>
  </form>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <app-card-character *ngIf="description && image && name" [description]="description" [image]="image"
    [name]="name"></app-card-character>
</div>