<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()"
      style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 100px">
  <mat-card style="width: 300px">
    <mat-card-content style="display: flex; flex-direction: column; align-items: center; justify-content: center">
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Entrez votre email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="email.errors">Invalide</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Entrez votre mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.errors">Invalide</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions style="display: flex; flex-direction: column; align-items: center; justify-content: center">
      <button mat-flat-button color="primary" type="submit">S'inscrire</button>
    </mat-card-actions>
  </mat-card>
</form>
