<div style="width: 100%; margin-top: 20px; display: flex">
  <div style="width: 20%">
    <img src="{{image}}" width="100%" height="250px"/>
  </div>
  <div style="word-wrap: break-word; width: 80%; display: flex; flex-direction: column; margin-left: 20px">
    <div style="display: flex; flex-direction: row; justify-content: space-between">
      <h2>Nom:</h2>
    </div>
    <h3>{{name}}</h3>
    <h2>Description:</h2>
    <div>
      <p>{{description}}</p>
    </div>
  </div>
</div>

